/* styles.css */

.large-button {
  padding: 20px 10px;
  font-size: 20px;
  background-color: #88C5FF;
  color: black;
  border: none;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  margin-left: 0;
}

.large-button:hover {
  background-color: #FF717F;
}

.large-button:active {
  background-color: #FF717F;
}

.large-button:focus {
  outline: none;
}

.large-button1 {
  padding: 20px 10px;
  font-size: 20px;
  background-color: rgba(136, 197, 255, 0);
  color: black;
  border: none;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  margin-left: 0; /* Set the left margin to 0 to touch the left side */
}

.large-button1:hover {
  background-color: #FF717F;
}

.large-button1:active {
  background-color: #FF717F;
}

.large-button1:focus {
  outline: none;
}








